* {
    box-sizing: border-box;
}
html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, ul, li {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
@font-face {
    font-family: 'Quantico';
    src: url(fonts/Quantico/Quantico-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Quantico';
    src: url(fonts/Quantico/Quantico-Italic.ttf);
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Quantico';
    src: url(fonts/Quantico/Quantico-Bold.ttf);
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Quantico';
    src: url(fonts/Quantico/Quantico-BoldItalic.ttf);
    font-weight: bold;
    font-style: italic;
}
body {
    font-family: Quantico;
    background-color: #f7f7f7;
}

